@charset "utf-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

/*
Colors
-------
Azul rgb(17, 148, 200)
Azul claro rgb(223, 239, 238)
Cinza escuro rgb(37, 49, 49)
*/

/* General */
* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
    font-size: 14px;
    font-family: 'Roboto', 'Helvetica', 'Verdana', sans-serif;
    line-height: 1;
}
body {
    background: #FFFFFF;
    color: #202020;
}

.section-content {
    min-height: 100vh;
}
.section-title {
    font-family: 'Maven Pro';
    font-weight: 700;
    letter-spacing: 0.15rem;
}
.section-subtitle {
    font-family: 'Source Code Pro';
}

section#nav {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
}
nav#navbar {
    width: 100%;
    height: 48px;
    background: rgb(17, 148, 200);
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#navbar-logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: 'Maven Pro';
    font-weight: 700;
}
#navbar-links a {
    text-decoration: none;
    border-radius: 4px;
    padding: 4px 8px;
    color: rgb(223, 239, 238);
    transition: all 300ms;
}
#navbar-links a:hover {
    background: rgba(37, 49, 49, 0.5);
}

/* Home */
#home {
    position: relative;
    z-index: 1;
    background-image: url('../images/home.jpg');
    background-attachment: fixed;
    background-position: top right;
    background-size: cover;
}
#home:before {
    position: absolute;
    z-index: 10;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
}
#home-into {
    position: relative;
    z-index: 100;
}
@media (max-width: 768px) {
    #home {
        background-attachment: unset;
        background-position: top left 60%;
    }
}
#social-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#social-buttons a {
    text-decoration: none;
    background: #FFFFFF;
    color: rgb(37, 49, 49);
    height: 36px;
    width: 36px;
    border-radius: 50%;
    transition: all 300ms;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}
#social-buttons a:hover {
    background: rgb(223, 239, 238);
}
#social-buttons a svg {
    height: 24px;
}

/* Portfolio */

/* Footer */
#footer {
    background: rgb(37, 49, 49);
    color: rgb(223, 239, 238);
    font-family: 'Source Code Pro';
}