@charset "utf-8";

/* General */
* {
    margin: 0px;
	padding: 0px;
	outline: none;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased !important;
    font-size: 14px;
    font-family: 'Helvetica', 'Verdana', sans-serif;
    line-height: 1;
}
body {
    background: #e6e6e6;
    color: #202020;
}